@charset "UTF-8";

@import 'base', 'fonts', 'typography', 'helpers';
@import 'normalize';
@import 'functions', 'mixins';

.weather-app {
  display: flex;
  height: 100vh;
  width: 100%;
}

.weather-app__information {
  width: 70%;
  margin: 3.25rem auto;
  max-width: 728px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1024px) {
  .weather-app {
    display: flex;
    flex-direction: column;
  }

  .weather-app__information {
    width: 100%;
    margin: 3.25rem auto;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 375px) {
  .weather-app__information {
    max-width: 328px;
  }
}
